body {
  text-align: center;

}

.tictactoe {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.row {
    height: 102px;
}
.cell {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}
.cell.x:after,
.cell.o:after {
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
   font-size: 75px;
}
.cell.x:after {
   content: 'x';
}
.cell.o:after {
   content: 'o';
}
.result {
  font-size: 50px;
  font-weight: bold;
  color:red;
}
.reset {
  font-size: 20px;
  display: inline-block;
}
